<ul>
    {{#each tickets}}
        <li>
            <p>{{this.problem}}</p>
            <span>{{this.status}}</span>
            <a href="/employees/{{this.id}}/assign">Назначить</a>
        </li>
    {{/each}}
</ul>