<form action="/users/register" method="post">
    <input type="text" name="name">
    <input type="text" name="phone">
    <input type="text" name="login">
    <input type="password" name="password">
    <input type="submit" value="Регистрация">
</form>